.btn_lists{
    width:32%;
    display:inline-block;
}

.list_buttons{
    float:right;
    border-radius: 40%;
    border:none;
    width:90px;
    height:20px;
    font-size: 17px;
}

.friends_buttons{
    width: 66.5px;
}

.logged_in_button{
    position:relative;
    background-color:white;
    border-color:black;
    text-align:center;
    padding:10px 24px;
    border-radius: 10px;
    bottom:20px;
    width:100%;
    font-size: 18px;
}

.logged_out_button{
    position:relative;
    background-color:white;
    border-color:black;
    text-align:center;
    padding:10px 24px;
    border-radius: 10px;
    bottom:20px;
    width:50%;
    font-size: 18px;
}

.lists{
    display: none;
    margin-left: 3%;
    width: 25%;
    height:250px;
    top: 103px;
    position:absolute;
    border-style: solid;
    border-radius: 2px;
    border-color: black;
    overflow-y: scroll;
    font-size:20px;
    background-color: white;
}

.input_button{
    width: 30px;
}

.error_message{
    color:red;
}