<!DOCTYPE html>
{% load static %}
<html>
    <head>
    </head>
    <body>
        {% if not request.user.is_authenticated %}
        <h1>Hello!</h1><a href='/signup'><button class='account_button'>Sign Up</button></a><a href = '/login'><button class='account_button'>Login</button></a>
        {% else %}
        <h1>Hello {{ request.user.username }}!</h1><a href='/logout'><button class='account_button'>Log Out</button></a><button class='account_button' onclick='friendButton()'>Friends</button><button class='account_button' onclick='partyButton()'>Party</button>

        <div class='lists' id='party_list'>
            Create a Party:
            <input id='party_name' type='text' placeholder='enter party name'>
            <button id='input_button' onclick='createParty()'>+</button><br>
            {% if invites.count is not 0 %}
            <br>Invites:<br>
            {% for invite in invites %}
            {{ invite.party_name }} | {{ invite.inviter }}<button class='list_buttons'>join</button>
            {% endfor %}
            {% endif %}
        </div>

        <div {% if in_friends %} style='display:initial;' {% else %} style='display:none;' {% endif %} class='lists' name='friends_list' id='friends_list'>
            {% if FriendProfile.friends.count is 0 %}
            No Friends<br>
            {% else %}
            Friends:<br>
            {% for user in FriendProfile.friends.all %}
            <form action='' method='post'>
                {% csrf_token %}
                {{ user }}<button type='submit' name='delete' value='{{ user }}' class='list_buttons' style="border:none;background-color:transparent;height:10px;"><img src='{% static "Music/images/x.png" %}' width='15px'></button><br>
            </form>
            {% endfor %}
            {% endif %}

            {% if FriendProfile.get_to_requests.count is not 0 %}
            Friend Requests:<br>
            {% for request in FriendProfile.get_to_requests %}
            <form method='post'>
                {% csrf_token %}
                {{ request.from_request }}<button class='friend_list_buttons' type='submit' name='accept' value='{{ request.from_request }}'>accept</button><br>
            </form>
            {% endfor %}
            {% endif %}

            {% if FriendProfile.get_sent_requests.count is not 0 %}
            Sent Requests:<br>
            {% for request in FriendProfile.get_sent_requests %}
            <form method='post'>
                {% csrf_token %}
                {{ request.to_request }}<button class='friend_list_buttons' type='input' name='cancel' value='{{ request.to_request }}'>cancel</button><br>
            </form>
            {% endfor %}
            {% endif %}

            <form action='' method='post'>
                {% csrf_token %}
                <br>Add friends:
                <input type='text' name='send_request' placeholder='enter a username: '>
                <input class='input_button' type='submit' value='+'>
            </form>
            {% if cant_find_user %}
            <p1 style='color:red;'>User does not exist</p1>
            {% endif %}
            {% if already_friends %}
            <p1 style='color:red;'>Already friends with user</p1>
            {% endif %}
            {% if already_sent_request %}
            <p1 style='color:red;'>Already sent a friend request to user</p1>
            {% endif %}
        </div>
        <br>
        {% endif %}
        {% block content %}
        {% endblock content %}

    </body>
    <link rel='stylesheet' type='text/css' href='{% static "Base/style.css" %}'>
    <script type='text/javascript' src='{% static "jQuery/jquery-3.6.1.js" %}'></script>
    <script type='text/javascript' src='{% static "Base/functions.js" %}'></script>
</html>